<% include partials/_header %>


<!-- Page Introduction Wrapper images/about/about-1.jpg-->
<div class="page-style-a">
		<div class="container">
				<div class="page-intro">
						<h2>Nosotros</h2>
						<ul class="bread-crumb">
								<li class="has-separator">
										<i class="ion ion-md-home"></i>
										<a href="/">Home</a>
								</li>
								<li class="is-marked">
										<a >Nosotros</a>
								</li>
						</ul>
				</div>
		</div>
</div>
<!-- Page Introduction Wrapper /- -->
<!-- About-Page -->
<div class="page-about u-s-p-t-80">
		<div class="container">
				<div class="row">
						<div class="col-lg-6 col-md-12">
								<div class="about-me-info u-s-m-b-30">
										<h1>Bienvenidos a
												<span>Cervecería Grossi</span>
										</h1>
										<p>El arte de hacer cerveza es un proceso que lleva tiempo y mucho cuidado, controlando siempre la higiente del equipo y la propia, se necesita conocimientos y experiencia. 
											Habiendo hecho una tecnicatura en alimentos con especialización en cerveza durante el período 2004-2008 en Suiza, y haber recorrido cada instancia de la producción de 
											cerveza, desde la plantación y adquisición de. materias primas hasta la venta de la cerveza en negocios, bares y restaurantes, después de tanto tiempo nace este proyecto 
											cervecero el 16 de septiembredel 2020 como negocio familiar.
										</p>

										

										<p> Utilizando como locación la casa de mis abuelos y haciendo uso de alguna de sus herramientas, en homenaje a ellos nombramos la cervecer+ia "Grossi", nombre que significa 
											"Abuelos" en suizo alemán. A los maternos, gracias a Willhelm, gracias a Herta y a los paternos, gracias a Josef Marie, gracias Julia.
										</p>
										

										<p>Desde ya agradezco a todas las personas que hicieron esto posible y a los que siguen aportando apoyo de cualquier manera. Ojalá sea este un proyecto exitoso y sino, de 
											cualquier manera, seguimos disfrutando del proceso aprendiendo de él, conociendo gente nueva y pasando tiempo con seres queridos. 
										</p>
										
										
										<p>Atte. El equipo de Grossi (somos pocos, 
												pero hay equipo!)</p>
								</div>
						</div>
						<div class="col-lg-6 col-md-12">
								<div class="about-me-image u-s-m-b-30">
										<div class="banner-hover effect-border-scaling-gray">
												<img class="img-fluid" src="https://res.cloudinary.com/dsk4fft6r/image/upload/v1613078766/20210211_182348_g8c4kb.jpg" alt="About Picture">
										</div>
										
								</div>
								<div class="about-social text-center u-s-m-b-30">
										<ul class="social-media-list">
												<li>
														<a href="#">
																<i class="fab fa-facebook-f"></i>
														</a>
												</li>
											 
										 
												<li>
														<a href="#">
																<i class="fas fa-instagram"></i>
														</a>
												</li>
												<li>
														<a href="#">
																<i class="fab fa-pinterest"></i>
														</a>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- About-Page /- -->


<% include partials/_footer %>
