<% include ../partials/_header %>

<!-- Page Introduction Wrapper -->
<div class="page-style-a">
    <div class="container">
        <div class="page-intro">
            <h2>Iniciar Sesión</h2>
            <ul class="bread-crumb">
                <li class="has-separator">
                    <i class="ion ion-md-home"></i>
                    <a href="/">Home</a>
                </li>
                <li class="is-marked">
                    <a href="#">Cuenta</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Introduction Wrapper /- -->



<!-- Account-Page -->
<div class="page-account u-s-p-t-80">
    <div class="container">
        <div class="row">
            <!-- Login -->
            <div class="col-lg-12">
                <div class="login-wrapper">
                    <h2 class="account-h2 u-s-m-b-20">Login</h2>
                    <h6 class="account-h6 u-s-m-b-30">Inicie sesión para poder comprar nuestros productos.</h6>
                    <form action="/users/signin" method="POST">
                        <div class="u-s-m-b-30">
                            <label for="user-name-email">Email
                                <span class="astk">*</span>
                            </label>
                            <input type="email" name="email" id="user-name-email" class="text-field" placeholder="Ej: Carlos Gomez">
                        </div>
                        <div class="u-s-m-b-30">
                            <label for="login-password">Contraseña
                                <span class="astk">*</span>
                            </label>
                            <input type="password" name="password" id="login-password" class="text-field" placeholder="Contraseña">
                        </div>
                        <div class="group-inline u-s-m-b-30">
                            <div class="group-1">
                                <a href="/users/signup" class="label-text" for="remember-me-token">Create una cuenta</a>
                            </div>
                            <div class="group-2 text-right">
                                <div class="page-anchor">
                                    <a href="/forgot">
                                        <i class="fas fa-circle-o-notch u-s-m-r-9"></i>Olvidaste tu contraseña?
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="m-b-45">
                            <button class="button button-outline-secondary w-100">Login</button>
                        </div>
                    </form>

                        <div class="m-b-45 mt-3">
                            <a href="/auth/facebook">  <button class="button facebook button-outline-secondary w-100 ">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                Login con Facebook</button>
                            </a>
                        </div>
                        <div class="m-b-45 mt-3">
                            <a href="/google"> <button class="button google button-outline-secondary w-100 btn-danger">
                                    <i class="fa fa-google" aria-hidden="true"></i>
                                Login con Google
                            </a> </button>
                        </div>
                </div>
            </div>
            <!-- Login /- -->



         
        </div>
    </div>
</div>
<!-- Account-Page /- -->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <% include ../partials/_footer %>
